### 혈액형 별 신장

#### 필요한 패키지들을 불러온다:

In [1]:
import pandas as pd
import numpy as np
import os

#### 데이터 프레임을 읽어 온다:

In [2]:
os.chdir(r"data")

In [3]:
df = pd.read_csv('data_studentlist_en.csv')

In [4]:
df.shape

(17, 8)

#### 다양한 방법으로 그룹 평균을 구한다:

In [5]:
df.groupby('bloodtype')['height'].mean()

bloodtype
A     169.075
AB    177.400
B     171.280
O     165.140
Name: height, dtype: float64

In [6]:
# 세로 방향으로.
df.pivot_table(index = 'bloodtype', values = 'height', aggfunc=np.mean)

            height
bloodtype
A          169.075
AB         177.400
B          171.280
O          165.140

In [7]:
# 가로 방향으로.
df.pivot_table(columns = 'bloodtype', values = 'height', aggfunc=np.mean)

bloodtype        A     AB       B       O
height     169.075  177.4  171.28  165.14