### 다음 물음에 답하시오:

In [1]:
import pandas as pd
import numpy as np
import os
%precision %.2f

'%.2f'

#### 데이터 프레임을 읽어 옵니다:

In [2]:
os.chdir(r"data")

In [3]:
df = pd.read_csv('data_population.csv', header='infer',encoding = 'ms949')

In [4]:
df.shape

(281, 9)

In [5]:
df.head()

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99

#### 다음 통계치를 구하시오:

1). 경상남도의 인구를 집계 하시오:

In [6]:
df[ (df.Province == "경상남도") & (df.City != " ") & (df.City != "창원시 ")].Population.sum()

3356540

In [7]:
df[ (df.Province == "경상남도") & (df.City == " ")].Population.values[0]

3356540

2). 경상북도의 인구를 집계 하시오:

In [8]:
df[(df.Province=='경상북도') & (df.City != ' ') & (df.City != "포항시 ")].Population.sum()

2697791

In [9]:
df[ (df.Province == "경상북도") & (df.City == " ")].Population.values[0]

2697791

3). 경상남도와 경상북도의 인구를 동시에 집계 하시오:

In [10]:
df[((df.Province=='경상남도') | (df.Province=='경상북도')) & (df.City == ' ')].Population.sum()

6054331

4). 성비 기준으로 남자가 상대적으로 많은 도시 (GenderRatio >1)의 평균 인구를 구하시오:

In [11]:
df[(df.GenderRatio > 1) & (df.City != ' ') ].Population.mean()

216343.35294117648

5). 성비 기준으로 남자가 상대적으로 적은 도시 (GenderRatio <1)의 평균 인구를 구하시오:

In [12]:
df[(df.GenderRatio < 1) & (df.City != ' ') ].Population.mean()

243536.0172413793

6). 성비 기준으로 남자가 적고 **(GenderRatio < 1)** 가구당 인원수가 2인 이상 **(PersInHou >= 2)** 도시를 찾으시오:

In [13]:
df[((df.GenderRatio < 1 ) & (df.PersInHou >= 2)) & (df.City != ' ')].head(3)

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99

7). 가구수 (Households) 적은 순서대로 정렬하여 10개의 도시를 보여주시오:

In [14]:
df.sort_values(by="Households", ascending=True)[ ["City", "Households"] ].head(10)

     City  Households
253  울릉군         5365
244  영양군         8769
200  장수군        10877
150  양구군        11162
62   옹진군        11172
199  무주군        11723
241  군위군        12091
213  구례군        12465
198  진안군        12531
243  청송군        13233