### 모범답안

In [1]:
import pandas as pd
import os
#import warnings
#warnings.filterwarnings("ignore")

#### 데이터 프레임을 읽어 옵니다:

In [2]:
os.listdir('data/')

['data_airquality.csv',
 'data_coffee.csv',
 'data_credit.csv',
 'data_iris.csv',
 'data_mine.csv',
 'data_officesupplies.csv',
 'data_population.csv',
 'data_seoul_population.csv',
 'data_studentlist_en.csv',
 'data_studentlist_en.xlsx',
 'data_studentlist_en2.xlsx',
 'geo_korea.json',
 'geo_seoul.json',
 'my_excel.xlsx',
 'my_file.txt',
 'my_new_excel.xlsx',
 'my_pickle.pkl']

In [3]:
df = pd.read_csv('data/data_studentlist_en.csv', header='infer',encoding = 'latin1')

#### 다음 통계치를 계산하시오:

1). 남학생 만의 신장 평균:

In [4]:
df[df.gender == 'M'].height.mean()

172.41000000000003

2). 여학생 만의 신장 평균:

In [5]:
df[df.gender == 'F'].height.mean()

166.64285714285714

3). 남학생 만의 체중 평균:

In [6]:
df[df.gender == 'M'].weight.mean()

68.50000000000001

4). 여학생 만의 체중 평균:

In [7]:
df[df.gender == 'F'].weight.mean()

50.44285714285714

5). 남학생중 제일 가장 큰 키 (max() 메서드 사용):

In [8]:
df[df.gender == 'M'].height.max()

182.1

6). 여학생중 제일 가장 작은 키 (min() 메서드 사용):

In [9]:
df[df.gender == 'F'].height.min()

155.2

7). 신장이 175cm 이상인 남학생중 최저 체중을 찾아라:

In [10]:
df[(df.gender == 'M') & (df.height >= 175)].weight.min()

61.3

8). 신장이 160cm 이하인 여학생중 최고 체중을 찾아라:

In [11]:
df[(df.gender == 'F') & (df.height <= 160)].weight.max()

45.3

9). 결석 (absence)가 없는 (N) 학생만의 성적 (grade) 평균은?

In [12]:
df[df.absence=='N'].grade.mean()

2.076923076923077

10). 결석 (absence)가 있는 (Y) 학생만의 성적 (grade) 평균은?

In [13]:
df[df.absence=='Y'].grade.mean()

3.0

11). 혈액형이 A형 이거나 AB형인 학생들의 신장 평균은?

In [14]:
df[(df.bloodtype == 'A') | (df.bloodtype == 'AB')].height.mean()

172.64285714285714

12). 혈액형이 A형 이거나 AB형인 남학생들의 신장 평균은?

In [15]:
df[((df.bloodtype == 'A') | (df.bloodtype == 'AB')) & (df.gender == 'M')].height.mean()

173.375

13). 결석 (absence)가 있으며 (Y) 성적 (grade)이 3이상인 학생들의 평균 연령은?

In [16]:
df[ (df.absence =='Y') & (df.grade >= 3) ].age.mean()

23.666666666666668